---
import GitHub from "./icons/GitHub.astro"
import Java from "./icons/Java.astro"
import MySql from "./icons/MySql.astro"
import JavaSwing from "./icons/JavaSwing.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"

const TAGS = {
  JAVA: {
    name: "Java",
    class: "inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2",
    icon: Java,
  },
  SQL: {
    name: "MySql",
    class: "inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2",
    icon: MySql,
  },
  JAVASWING: {
    name: "Swing",
    class: "inline-flex items-center justify-center gap-2 px-4 py-1 text-gray-800 transition bg-gray-100 border border-gray-300 rounded-full dark:bg-gray-800 dark:border-gray-600 dark:text-white focus-visible:ring-yellow-500/80 text-md group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2",
    icon: JavaSwing,
  },
}
const PROJECTS = [
  {
    title: "AppRestaurante - Gesti贸n",
    description:
      "Aplicaci贸n para la gesti贸n de mesas de un restaurante con sistema de login de usuarios. Creado con Java, Swing y MySQL.",
    github: "https://github.com/ThePandogs/APP_RestaurantManagement",
    link: "/projects/app_restaurant/app_restaurant_preview.gif",
    image: "/projects/app_restaurant/app_restaurant.webp",
    previewGif: "/projects/app_restaurant/app_restaurant_preview.gif",
    tags: [TAGS.JAVA, TAGS.JAVASWING, TAGS.SQL],
  },
  {
    title: "Falling Blocks - Replica Tetris",
    description:
      "Esta es una implementaci贸n personal y no comercial inspirada en el famoso juego Tetris. Creado con Java y Swing",
    github: "https://github.com/ThePandogs/Falling-Blocks-Game",
    link: "/projects/falling_blocks/falling_blocks_preview.gif",
    image: "/projects/falling_blocks/falling_blocks.webp",
    previewGif: "/projects/falling_blocks/falling_blocks_preview.gif",
    tags: [TAGS.JAVA, TAGS.JAVASWING],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, previewGif,title, description,link, tags, github }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
      <div class="w-full md:w-1/2">
        <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
          <img alt="Imagen proyecto" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
          <img alt="Preview GIF" class="absolute inset-0 object-cover w-full h-full transition duration-500 opacity-0 group-hover:opacity-100" loading="lazy" src={previewGif} />
        </div>
      </div>

      <div class="w-full md:w-1/2 md:max-w-lg">
        <h3 class="text-2xl text-yellow-400 dark:text-yellow-400">
          <strong>{title}</strong>
        </h3>
        <div class="flex flex-wrap mt-2">
          <ul class="flex flex-row mb-2 gap-x-2">
            {tags.map((tag, index) => (
              <li>
                <span
                  class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2`}
                >
                  <tag.icon class="size-4" />
                  {tag.name}
                </span>
              </li>
            ))}
          </ul>

          <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
          <footer class="flex items-end justify-start mt-4 gap-x-4">
            {github && (
              <LinkButton href={github}>
                <GitHub class="size-6" />
                Code
              </LinkButton>
            )}
            {link && (
              <LinkButton href={link}>
                <Link class="size-4" />
                Preview
              </LinkButton>
            )}
          </footer>
        </div>
      </div>
    </article>
    ))
  }
</div>
